/* Fondo global solo para esta vista */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F8F9FA;
}
main, .container, .container-fluid {
    background: transparent;
}
.top-bar {
    background: white;
    border-radius: 15px;
    padding: 1.5rem;
    gap: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .top-bar h1 {
        color: #1f2937;
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0;
    }

.top-bar-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn-new-task {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .btn-new-task:hover {
        background: #4f46e5;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(99, 102, 241, 0.3);
    }
/*encabezado*/
h3 {
    color: #01337a;
    font-weight: 800;
    letter-spacing: .2px;
}
/* Ancho fijo reutilizable para el buscador */
.busqueda-compacta {
    max-width: 260px;
}
.table-responsive {
    width: 100%;
    margin: 0 auto; /* para centrarlo */
}
/* 
   Tabla*/
/*estilo genral de la tabla*/
#example {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
}
    /*estilo encabezado*/
    #example thead th {
        background: #0360d8;
        color: #fff;
        font-weight: 600;
        vertical-align: middle;
        padding: 0.75rem;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
        /*estilo para el primer y ultimo elemento del encabezado bordes redondeos*/
        .table thead th:first-child {
            border-top-left-radius: .55rem;
        }

        .table thead th:last-child {
            border-top-right-radius: .55rem;
        }
    /*estilo del cuerpo */

    #example tbody tr {
        background: #edf0ff !important;
    }
    #example tbody td {
        padding: 0.75rem;
        border-top: 1px solid #ccacf8;
        vertical-align: middle;
    }
#example tbody tr:hover {
    filter: brightness(0.985);
    transition: filter 0.2s ease;
}
.btn-sm {
    padding: .15rem .50rem;
    border-radius: .4rem;
    font-weight: 600;
}

.toast-success {
    position: fixed;
    top: 20px; /* separa del borde superior */
    left: 20px; /* ahora a la izquierda */
    background: #28a745;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    font-weight: 600;
    max-width: 460px;
    z-index: 1500; /* por encima del contenido */
    animation: fadeInOut 4s forwards; /* mismo tiempo que usabas */
}
.no-select {
    user-select: none;
    cursor: default;
}