/* Fondo global solo para esta vista */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F8F9FA;
}
main, .container, .container-fluid {
    background: transparent;
}
/*encabezado*/
h3 {
    color: #01337a;
    font-weight: 800;
    letter-spacing: .2px;
}
/* Ancho fijo reutilizable para el buscador */
.busqueda-compacta {
    max-width: 260px;
}
.table-responsive {
    width: 100%;
    margin: 0 auto; /* para centrarlo */
}
/* 
   Tabla*/
/*estilo genral de la tabla*/
#tablaUsuarios {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
}
    /*estilo encabezado*/
    #tablaUsuarios thead th {
        background: #0360d8;
        color: #fff;
        font-weight: 600;
        vertical-align: middle;
        padding: 0.75rem;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
        /*estilo para el primer y ultimo elemento del encabezado bordes redondeos*/
        .table thead th:first-child {
            border-top-left-radius: .55rem;
        }

        .table thead th:last-child {
            border-top-right-radius: .55rem;
        }
    /*estilo del cuerpo */

#tablaUsuarios tbody tr {
    background: #edf0ff !important;
}
#tablaUsuarios tbody td {
    padding: 0.75rem;
    border-top: 1px solid #ccacf8;
    vertical-align: middle;
}
#tablaUsuarios tbody tr:hover {
    filter: brightness(0.985);
    transition: filter 0.2s ease;
}
.btn-sm-usuario {
    padding: .15rem .50rem;
    border-radius: .4rem;
    font-weight: 600;
}

.toast-success {
    position: fixed;
    top: 20px; /* separa del borde superior */
    left: 20px; /* ahora a la izquierda */
    background: #28a745;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    font-weight: 600;
    max-width: 460px;
    z-index: 1500; /* por encima del contenido */
    animation: fadeInOut 4s forwards; /* mismo tiempo que usabas */
}
.no-select {
    user-select: none;
    cursor: default;
}
.acciones-usuario {
    gap: 0.25rem 0.5rem; /* vertical | horizontal */
}
.btn-success {
    border-radius: 10px;
}